data/Ontology/**/*.nt
!data/Ontology/default/**
target/
deploy/
src/main/gen-java/
src/main/rudi/dialogue
src/main/resources/generated/
src/main/resources/grammars/srgs/testfile.out
src/main/resources/ontology/automata/GCS_dialog.nt
*~
**/.idea
**/*.iml
**/nbproject/
**/.classpath
**/.project
**/.settings
*.obda
*.properties
**/.projectile
data/Ontology/catalog-v001.xml
/.classpath
/.factorypath
/.project
/.vscode/
/nuancewebsocket/
**/catalog-v001.xml
/ros/speech_recognition/
/docker_dev/intuitiv_msgs/
/docker_dev/tarballs/
deploy/
common_lib/
docker_config.yml
logs/**
wech/**
**/.$*.bkp