<launch>

  <!-- input speech topic of speech_to_text.py -->
  <arg name="audio" default="speech_audio" />
  <!-- launch respeaker -->
  <arg name="launch_respeaker" default="false" />
  <!-- launch respeaker -->
  <arg name="launch_asr" default="false" />
  <!-- output text topic of speech_to_text.py -->
  <arg name="speech_to_text" default="speech_to_text" />
  <!-- language used in speech_to_text.py -->
  <arg name="language" default="de-DE" />
  <!-- model -->
  <arg name="model" default="/de-DE/release_v0.9.0/output_graph.pbmm" />
  <!-- deepspeech scrorer -->
  <arg name="scorer" default="/de-DE/release_v0.9.0/kenlm.scorer" />
  <!-- tflight -->
  <arg name="tflite" default="/de-DE/release_v0.9.0/output_graph_from_koh-osug.tflite" />

    <!-- communication with Luebeck component -->
    <!--<node name="skeleton_listener" pkg="speech_processing" type="skeleton_listener.py"/> -->

    <name name="patient_status_listener" pkg="speech_processing" type="patient_status_listener.py">

    <node name="gcs_service" pkg="speech_processing" type="dialog_service.py"/>

    <!-- <node name="body_track_listener" pkg="speech_processing" type="BodyTrack_Listener.py"/> -->
    <!-- speech_inputs -->
    <node name="asr_listener" pkg="speech_processing" type="asr_listener.py" />

    <node name="tts_service" pkg="speech_processing" type="tts_service.py" />

    <node name="tts_service_client" pkg="speech_processing" type="tts_service_client.py" />

    <node name="respeaker_node" pkg="respeaker_ros" type="respeaker_node.py" respawn="true" respawn_delay="10" />

    <node name="speech_to_text" pkg="respeaker_ros" type="speech_to_text.py"
          output="screen">
      <remap from="audio" to="$(arg audio)"/>
      <remap from="speech_to_text" to="$(arg speech_to_text)"/>
      <rosparam subst_value="true">
        language: $(arg language)
        self_cancellation: true
        tts_tolerance: 0.5
        store_wav: false
      </rosparam>
    </node>

</launch>
