<launch>
  <!-- publish tf of respeaker -->
  <arg name="publish_tf" default="true" />
  <!-- launch respeaker -->
  <arg name="launch_respeaker" default="true" />
  <!-- launch sound_play node -->
  <arg name="launch_soundplay" default="true" />
  <!-- input speech topic of speech_to_text.py -->
  <arg name="audio" default="speech_audio" />
  <!-- output text topic of speech_to_text.py -->
  <arg name="speech_to_text" default="speech_to_text" />
  <!-- langage used in speech_to_text.py -->
  <arg name="language" default="en-US" />

  <node if="$(arg launch_respeaker)" name="respeaker_node" pkg="respeaker_ros" type="respeaker_node.py" respawn="true" respawn_delay="10" />

</launch>